/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.header-section {
    padding: 60px 0;
    /* background-color: #007bff; */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://cdn.shopify.com/s/files/1/0070/7032/files/ecommerce_20shopping_20cart.png?v=1689527835') no-repeat center center/cover;
    color: white;
}

.cart-section {
    padding: 60px 0;
}

.list-group-item {
    border-radius: 5px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
