
body {
    font-family: century;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://static.vecteezy.com/system/resources/previews/015/685/152/non_2x/human-resource-management-strategic-planning-for-success-through-people-business-development-concept-by-choosing-professional-leaders-employee-competency-teamwork-man-pointing-virtual-icon-free-photo.jpg') no-repeat center center/cover;
    color: aliceblue;
}

.main {
    text-align: center;
    margin-top: 18%;
}

.undraw {
    margin: 30%;
}

.icon {
            position: relative;
            display: inline-block;
            width: 50px;
        }

        .icon img {
            height: 100%;
            width: 100%;
        }

        .icon .tooltip {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: -100%;
            left: 50%;
            margin-left: -90px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .icon:hover .tooltip {
            visibility: visible;
            opacity: 1;
        }